<manifest package="pl.tommmannson.taskqueue"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <applicationEntity
        android:allowBackup="true">


    </applicationEntity>

    <application>
        <service android:name="pl.tommmannson.taskqueue.TaskService"/>

        <service
            android:name="pl.tommmannson.taskqueue.extension.TaskServiceCreator"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
